*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rubik Iso', cursive;
    list-style: none;
    text-decoration: none;
    font-size: 10px;

}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
}

.logo img{
    max-width: 100px;
    height:auto;
    
}

.navigation{
    display: flex;
}

.navigation a{
    color: rgb(94, 89, 91);
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px;
    font-weight: 400;
    transition: all .42s ease;
}

.navigation a:hover{
    color: rgb(192, 225, 236);
}


.search{
    width: 330px;
    float: left;
    margin-left: 260px;
}

.srch{
    font-family: 'Rubik Iso', cursive;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    margin-top: 13px;
    color: rgb(140, 159, 179);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100%;
    height: 40px;
    background-color: rgb(57, 67, 68);
    border: 1px solid rgb(122, 122, 215);
    margin-top: 13px;
    color: rgb(179, 214, 240);
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}


#menu-icon{
    font-size: 35px;
    z-index: 10000;
    cursor: pointer;
}

section{
    padding: 5% 10%;

}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(back2.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-text p{
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin:6px 0 10px;

}

.main-btn{
    display: inline-block;
    color: rgb(168, 156, 230);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid #d4dff0;
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-text h5{
    color: rgb(8, 4, 14);
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}


.centre-text h2{
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.row{
    position: relative;
    transition: all .40s;

}

.row img{
    width: 100%;
    height:auto;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}

.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: blanchedalmond;
    padding: 3px 10px;
    border-radius: 2px;
}

.price p{
    position: sticky;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 2px;
}

header.sticky{
    background: #111;
    padding: 20px 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.container{
    width: 400px;
    max-width: 400px;
    margin:0;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width:400px;
    box-shadow: 0 0 40px black ;
    border-radius: var(--boder-radius);
    background: rgb(203, 198, 206);
    
}

.container2{
    width: 400px;
    max-width: 400px;
    margin:0;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width:400px;
    box-shadow: 0 0 40px black ;
    border-radius: var(--boder-radius);
    background: rgb(203, 198, 206);
    
}

.form-input{
    position: relative;
    width:100%;
    border-bottom:1px solid black;
}

.rem-forgot{
    font-size: 14px;
    color: rgb(38, 38, 34);
    margin: 15px;
    display:flex;
    justify-content:space-evenly;
}

.rem-forgot label input{
    accent-color: #161616;
    margin-right: 3px;
}

.rem-forgot a{
    color: gray;
    text-decoration: none;
}


